@model IEnumerable<HW13_1.Entities.TrainingCourse>

@{
    ViewData["Title"] = "GetCourses";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1>GetCourses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Course Name
            </th>
            <th>
                Start Time
            </th>
            <th>
                Capacity
            </th>
            <th>
                Teacher Name
            </th>
            <th>
                Students Count
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.FirstName) @Html.DisplayFor(modelItem => item.Teacher.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Count)
                </td>
                <td>
                    <a class="btn btn-dark" asp-action="AddCourse" asp-controller="Student" asp-route-courseId="@item.Id">
                        Add to my course
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
