@model IEnumerable<HW13_1.Entities.StudentCourse>

@{
    ViewData["Title"] = "GetMyCourses";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h1>My Courses</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trainingCourse.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trainingCourse.Teacher.FirstName) @Html.DisplayNameFor(model => model.trainingCourse.Teacher.LastName)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.trainingCourse.StartTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(model => item.Grade)
                </th>
                <th>
                    @Html.DisplayFor(model => item.trainingCourse.Name)
                </th>
                <th>
                    @Html.DisplayFor(model => item.trainingCourse.Teacher.FirstName) @Html.DisplayNameFor(model => model.trainingCourse.Teacher.LastName)
                </th>
                <th>
                    @Html.DisplayFor(model => item.trainingCourse.StartTime)
                </th>
            </tr>
        }
    </tbody>
</table>
